/* Link para tirar as dúvidas: https://developer.mozilla.org/pt-BR/docs/Learn/CSS/CSS_layout/Flexbox#um_aparte_no_modelo_flex */

/* A "flex box", como o nome já diz é uma caixa felxível, podendo configurar várias coisas inclusive grids  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.flex-container {
    display: flex;  /* Quando você coloca o display flex, é aberto essas 3 possibilidades abaixo para mexer no conteúdo do jeito que você quiser */
    flex-direction: column;  /* O "flex-direction" indica a direção do eixo principal (main axis) e o eixo perpendicular (cross axis) do meu flex, nesse caso o "row" que dizer que irão se alinha em linha, ou seja o eixo principal é horizontal . Se fosse "column" o eixo principal seria o vertical.Dá para você reverter a ordem das flex-box usando o atributo mais o "reverse" */
    justify-content: center; /* O "justify-content" serve para você alinha o eixo principal (main axis) de acordo com você deseja. você pode escolher entre "flex-start", "flex-end", "space-around", "space-evenly", "space-between", "center" , entre outros */
    align-items: center; /* O "align-items" serve para você alinha o eixo perpendicular (cross axis) de acordo com você deseja. Os atributos dele também são iguais aos do "justify-content" */
    background: yellow;
    height: 300px;
}


.flex-item {
    color: white;
    background: red;
    margin: 10px;
}