* {
    margin: 0;
    padding: 0;
}

/* O display possui varios elementos, como o "block" que separa o conteúdo em blocos (um em baixo do outro). Obs: A "div" por padrão vem como display block, então não seria necessário colocar */
.grid1 .col1 {
    display: inline-block;
    width: 100px;
    height: 100px;
    display: block;
    background: rgb(32, 218, 125);    
}

/* o "inline" que irá juntar o conteúdo de block em uma mesma linha */
.grid2 .col2 {
    display: inline-block;
    width: 100px;
    height: 100px;
    display: inline-block;
    background: goldenrod;
    float: left; /* O "float" vai direcionar onde que a caixa ou as caixas irão flutuar */
}

/* Posso usar o "clear" para limpar a formatação do float feita acima e o texto não ficar do lado das caixas */
p {
    clear: left;
}
/* Posso fazer o "clear" dessa forma também, nesse caso a própria div irá no final dela (por conta do "after") limpar as laterais esquerda e direta*/
.grid2::after {
    content: '';
    display: block;
    clear: both;
}


/* Forma de alinha elementos (hoje em dia não é mais tão usado pois,nós temos o "flex-box" ou o "display: grid;": */
.grid3 {
    padding: 15px;
}

.grid3 .col3 {
    box-sizing: border-box; /* Essa parte do "box-sizing" eu posso retirar daqui e colocar lá me cima no "*" */
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 15px;
}

.grid3 .col3 .col3-content {
    width: 100%;
    height: 100%;
    background-color: red;
}

